.admin-summary-wrapper{

  font-family: var(--ff-inter);
}
.admin-summary-section-1-header {
  font-weight: 500;
  font-size: 24px;
  color: rgba(22, 30, 84, 1);
}
.admin-summary-section-1-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345.97px, 1fr));

  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.admin-summary-event-wrapper-inner {
  padding: 28px 17px 28px 17px;
  height: 140px;
  border: 1px solid rgba(241, 242, 243, 1);
  border-radius: 10px;
}
.admin-summary-event-wrapper-inner  h5 {
  color: rgba(112, 109, 109, 1);
  font-weight: 500;
  font-size: 20px;

}
.admin-summary-event-wrapper-inner  h1 {
  color: rgba(30, 30, 30, 1);
  font-weight: 600;
  font-size: 40px;

}
.admin-summary-event-wrapper-inner  img {
 width: 72.5px;
 height: 74.64px;
 border-radius: 8.53px;

}

@media (max-width: 765px) {
  .admin-summary-event-wrapper-inner {
    border: 3px solid rgba(241, 242, 243, 1);
  }
  .admin-summary-section-1-div {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 766px) and (max-width: 991px) {
  .admin-summary-event-wrapper-inner {
    border: 3px solid rgba(241, 242, 243, 1);
  }
  .admin-summary-section-1-div {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
