.employee-table-wrapper {
  font-family: var(--ff-inter);
  border: 1px solid rgba(241, 242, 243, 1);
  border-radius: 14px;
}

.employee-table-container {
  padding: 10px 17px 28px 17px;
}

.employee-table-wrapper-h5 {
  font-weight: 500;
  font-size: 20px;
  color: rgba(41, 41, 41, 1);
}

.employee-table-wrapper-head {
  background-color: rgba(247, 249, 251, 1);
}

.employee-table-data {
  font-weight: 500;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
}

.employee-table-blue {
  background-color: rgba(226, 227, 248, 1);
  color: rgba(52, 57, 202, 1);
  border-radius: 50px;
  text-align: center;
  width: 83px;
  height: 27px;
  font-weight: 400;
  font-size: 16px;
}

.employee-table-orange {
  background-color: rgba(246, 236, 220, 1);
  color: rgba(242, 155, 7, 1);
  border-radius: 50px;
  text-align: center;
  width: 90px;
  height: 27px;
  font-weight: 400;
  font-size: 16px;
}

.employee-table-green {
  background-color: rgba(231, 249, 243, 1);
  color: rgba(13, 128, 93, 1);
  border-radius: 50px;
  text-align: center;
  width: 90px;
  height: 27px;
  font-weight: 400;
  font-size: 16px;
}
.employee-table-pagination-wrapper , button{
  color: rgba(135, 135, 137, 1);
  font-size: 16px;
  font-weight: 400;
}
.employee-table-pagination-wrapper  button{
 border: none;
 width: 146px;
 height: 40px;
 border: 1px solid rgba(207, 207, 208, 1);
 border-radius: 4px;
}
.employee-profile-image{
  width: 43.84px; 
  height: 43.84px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(222, 222, 222, 1)

}

.employee-profile-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.disbale{
  background-color: rgba(210, 210, 210, 1);
}
.employment-modal-header{
  color: rgba(41, 41, 41, 1);
  font-weight: 600;
  font-size: 28px;
}
.employment-modal-fullname{
  color: rgba(14, 10, 45, 1);
  font-weight: 500;
  font-size: 30px;
}
.employment-modal-email{
  font-size: 20px;
  color: rgba(116, 116, 116, 1);
  font-weight: 400;
}

.employee-modal-profile-image{
  width: 76.75px; 
  height: 76.75px;
  border-radius: 86.23px;
  overflow: hidden;
  border: 2.59px solid rgba(255, 255, 255, 1);
  
}

.employee-modal-profile-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.employment-modal-contact{
  line-height: 17.25px;

}
.employment-modal-edit-btn{
  padding: 8px 46px;
  color: rgba(243, 242, 251, 1);
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(52, 57, 202, 1);
}
.employment-modal-h5{
  font-size: 20px;
  color: rgba(116, 116, 116, 1);
  font-weight: 400;
}
.employment-modal-ptag{
  color: rgba(26, 26, 26, 1);
  font-size: 20px;
  font-weight: 500;
}
@media(max-width:765px){
  .employee-profile-image{
    width: 40.84px; 
    height: 31.84px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(222, 222, 222, 1)
  
  }
  
  .employee-profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
}
@media (min-width: 766px) and (max-width: 991px) {
  .employee-table {
    overflow-x: scroll;
    width: 500px;
    margin-left: 0;
  }
}
